<h1>Main Dashboard</h1>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag 'home.jpg',class: 'img-responsive img-center img'%>
        <div class="carousel-caption">
          <h3>School Management System</h3>
        </div>      
      </div>

      <div class="item">
        <%= image_tag 'home2.jpg',class: 'img-responsive img-center img'%>
        <div class="carousel-caption">
          <h3>School Management System</h3>
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<% if current_user %>
<h3 class="home-header">Attendance</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Roll No</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Date</th>
      <th>Remark</th>
      <% if can? :create, Attendance %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.first_name+" "+attendance.last_name %></td>
        <td><%= attendance.roll_no %></td>
        <td><%= attendance.start_time.strftime('%H:%M') %></td>
        <td><%= attendance.end_time.strftime('%H:%M') %></td>
        <td><%= attendance.date.strftime('%d-%b-%Y') %></td>
        <td><%= attendance.remark %></td>
        <% if can? :create, Attendance %>
          <td><%= link_to 'Show', attendance %></td>
          <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
          <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.role_id == 1 %>
	<h3 class="home-header">Students</h3>
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Roll No</th>
	      <th>Gender</th>
	      <th>NRC</th>
	      <th>Phone</th>
	      <th>Email</th>
	      <th>Date of Birth</th>
	      <th>Address</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @students.each do |student| %>
	      <tr>
	        <td><%= student.first_name+" "+student.last_name %></td>
	        <td><%= student.roll_no %></td>
	        <td><%= student.gender %></td>
	        <td><%= student.nrc %></td>
	        <td><%= student.phone_no %></td>
	        <td><%= student.email %></td>
	        <td><%= student.date_of_birth.strftime('%d-%b-%Y') %></td>
	        <td><%= student.address %></td>
	        <td><%= link_to 'Show', student %></td>
	        <td><%= link_to 'Edit', edit_user_path(student) %></td>
	        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<h3 class="home-header">Parents</h3>
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Gender</th>
	      <th>NRC</th>
	      <th>Phone</th>
	      <th>Email</th>
	      <th>Date of Birth</th>
	      <th>Address</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @parents.each do |parent| %>
	      <tr>
	        <td><%= parent.first_name+" "+parent.last_name %></td>
	        <td>
	        	<% if parent.gender == '0' %> <%= gender = 'Female' %>
          	<% else %> <%= gender = 'Male' %> <% end %> 
	        </td>
	        <td><%= parent.nrc %></td>
	        <td><%= parent.phone_no %></td>
	        <td><%= parent.email %></td>
	        <td><%= parent.date_of_birth.strftime('%d-%b-%Y') %></td>
	        <td><%= parent.address %></td>
	        <td><%= link_to 'Show', parent %></td>
	        <td><%= link_to 'Edit', edit_user_path(parent) %></td>
	        <td><%= link_to 'Destroy', parent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

<% end %>
<% end %>