<div class="container">
  <%= form_with(model: user, local: true, :class => 'form-horizontal') do |form| %>
    
    <% if user.errors.any? %> 
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :first_name, :class => "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= form.text_field :first_name, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :last_name, :class => "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= form.text_field :last_name, :class => "form-control" %>
      </div>
    </div>

     <% if !params[:student] %>
      <div class="form-group">
        <%= form.label :roll_no, :class => "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= form.text_field :roll_no, :class => "form-control" %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :gender, :class => "control-label col-sm-2" %>
       <div class="col-sm-10">
          <%= form.select :gender,  options_for_select([['Male', 1], ['Female', 0]],
          :selected => @user.gender) , {include_blank: "Gender"}, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :phone_number, :class => "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= form.text_field :phone_no, autofocus: true, placeholder: 'xxx-xxx-xxxx',
         :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :nrc, :class => "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= form.text_field :nrc, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :role, :class => "control-label col-sm-2" %>
      <div class="col-sm-10">
         <% if params[:student] %>
            <input type="hidden" name="student" value="<%= params[:student] %>">
            <%= form.select :role_id, Role.all.collect {|p| [ p.role_type,p.role_id]},{:selected => 3}, { :include_blank => "User Role", :class => "form-control" }%>
         <% else %>
            <%= form.select :role_id, Role.all.collect {|p| [ p.role_type,
             p.role_id] }, { :include_blank => "User Role" }, :class =>
              "form-control" %>
         <% end %>
       </div>
    </div>

    <div class="form-group">
      <%= form.label :email, :class => "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= form.text_field :email, :class => "form-control" %>
      </div>
    </div>

    <% if !params[:id] %>
    <div class="form-group">
      <%= form.label :password, :class => "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= form.text_field :password, :class => "form-control" %>
      </div>
    </div>
    <% end %>

    <div class="form-group">
      <%= form.label :date_of_birth, :class => "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= form.text_field :date_of_birth, :class => "form-control datepicker", :value => date_dbY(@user.date_of_birth) %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :address, :class => "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= form.text_area :address, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-2">
        <%= form.submit :class => 'btn btn-primary'%>
      </div>
    </div>

  <% end %>
</div>

<script>
  $('.datepicker').datepicker({format: 'dd-M-yyyy'});
</script>