<p id="notice"><%= notice %></p>

<h1>Students</h1>
<%= link_to 'New Student', new_user_path, :class => 'btn btn-primary all-btn float-right' %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Roll No</th>
      <th>Gender</th>
      <th>NRC</th>
      <th>Phone no</th>
      <th>Email</th>
      <th>Date of birth</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>      
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.roll_no %></td>
        <td>
          <% if user.gender == '0' %> <%= gender = 'Female' %>
          <% else %> <%= gender = 'Male' %> <% end %> 
        </td>
        <td><%= user.nrc %></td>
        <td><%= user.phone_no %></td>
        <td><%= user.email %></td>
        <td><%= date_dbY(user.date_of_birth) %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show', user, :class => 'btn btn-primary all-btn' %></td>
        <td><%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-primary all-btn' %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary all-btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>
