<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>First Name:</strong>
    </div>
    <div class="col-sm-3">
      <%= @user.first_name %>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Last Name:</strong>
    </div>
    <div class="col-sm-3">
      <%= @user.last_name %>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Roll No:</strong>
    </div>
    <div class="col-sm-3">
      <%= @user.roll_no %>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Gender:</strong>
    </div>
    <div class="col-sm-3">
      <% if @user.gender == '0' %><%= "Female" %>
      <% else %><%= "Male" %><% end %>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>NRC:</strong>
    </div>
    <div class="col-sm-3">
      <%= @user.nrc %>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Phone No:</strong>
    </div>
    <div class="col-sm-3">
      <%= @user.phone_no %>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Role:</strong>
    </div>
    <div class="col-sm-3">
      <%= @role.role_type %>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Email:</strong>
    </div>
    <div class="col-sm-3">
      <%= @user.email %>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Date Of Birth:</strong>
    </div>
    <div class="col-sm-3">
      <%= date_dbY(@user.date_of_birth) %>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Address:</strong>
    </div>
    <div class="col-sm-3">
      <%= @user.address %>
    </div>
    <div class="col-sm-3"></div>
  </div>
     
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-3">
      <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-primary all-btn" %>
       <% if can? :create, User %>
        <%= link_to 'Back', users_path, :class => "btn btn-primary all-btn" %>
      <% end %>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <% if @user.role_id == 2 %>
  <% if @parent.nil? %>
    <%= link_to 'Create Parent Account', new_user_path(:student => @user.id),
     name: 'create_parent', :class => "btn btn-primary all-btn" %>
  <% else %>
    <div class="row"><hr></div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <strong>First Name:</strong>
      </div>
      <div class="col-sm-3">
        <%= @parent.first_name %>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <strong>Last Name:</strong>
      </div>
      <div class="col-sm-3">
        <%= @parent.last_name %>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <strong>Gender:</strong>
      </div>
      <div class="col-sm-3">
        <% if @parent.gender == '0' %><%= "Female" %>
        <% else %><%= "Male" %><% end %>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <strong>NRC:</strong>
      </div>
      <div class="col-sm-3">
        <%= @parent.nrc %>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <strong>Phone No:</strong>
      </div>
      <div class="col-sm-3">
        <%= @parent.phone_no %>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <strong>Role:</strong>
      </div>
      <div class="col-sm-3">
        <%= @role.role_type %>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <strong>Email:</strong>
      </div>
      <div class="col-sm-3">
        <%= @parent.email %>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <strong>Date Of Birth:</strong>
      </div>
      <div class="col-sm-3">
        <%= @parent.date_of_birth.strftime('%d-%b-%Y') %>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <strong>Address:</strong>
      </div>
      <div class="col-sm-3">
        <%= @parent.address %>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-3">
        <%= link_to 'Edit', edit_user_path(@parent), :class => "btn btn-primary all-btn" %>
         <% if can? :create, User %>
          <%= link_to 'Back', users_path, :class => "btn btn-primary all-btn" %>
        <% end %>
      </div>
      <div class="col-sm-3"></div>
    </div>

  <% end %>
<% end %>

</div>
