<div class="container">
  <%= form_with(model: course, local: true, :class => 'form-horizontal') do |form| %>

    <% if course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, :class => "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= form.text_field :name, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :start_date, :class => "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= form.text_field :start_date, :class => "form-control datepicker", :value => date_dbY(@course.start_date) %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :end_date, :class => "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= form.text_field :end_date, :class => "form-control datepicker", :value => date_dbY(@course.end_date) %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :course_fee, :class => "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= form.number_field :course_fee, :class => "form-control" %>
      </div>
    </div>

     <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-2">
        <%= form.submit :class => 'btn btn-primary'%>
      </div>
    </div>

  <% end %>
</div>

<script>
  $('.datepicker').datepicker({format: 'dd-M-yyyy'});
</script>