<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<% if can? :create, Attendance %>
  <%= link_to 'New Course', new_course_path, :class => 'btn btn-primary float-right all-btn' %>
<% end %>  

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Course fee</th>
      <% if can? :create, Attendance %>
        <th colspan="3"></th>
      <% end %>  
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= date_dbY(course.start_date) %></td>
        <td><%= date_dbY(course.end_date) %></td>
        <td><%= course.course_fee %></td>
        <% if can? :create, Attendance %>
          <td><%= link_to 'Show', course, :class => 'btn btn-primary all-btn' %></td>
          <td><%= link_to 'Edit', edit_course_path(course), :class => 'btn btn-primary all-btn' %></td>
          <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary all-btn' %></td>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @courses %>
