<div class="container">

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Name:</strong>
    </div>
    <div class="col-sm-3">
      <%= @course.name %>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Start date:</strong>
    </div>
    <div class="col-sm-3">
      <%= date_dbY(@course.start_date) %>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>End date:</strong>
    </div>
    <div class="col-sm-3">
      <%= date_dbY(@course.end_date) %>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Course fee:</strong>
    </div>
    <div class="col-sm-3">
      <%= @course.course_fee %>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-3">
      <%= link_to 'Edit', edit_course_path(@course), :class => "btn btn-primary all-btn" %>
      <%= link_to 'Back', courses_path, :class => "btn btn-primary all-btn" %>
    </div>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  <hr>

  <form id="new_student" action="<% courses_path %>" method="get">

    <div class="row">
      <div class="col-sm-3"></div>
      <label class="control-label col-sm-2">Roll No</label>
      <div class="col-sm-4">
        <input type="text" name="student_roll_no" id="student_roll_no" class="form-control" />
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-3"></div>
      <label class="control-label col-sm-2">Name</label>
      <div class="col-sm-4">
        <input type="text" name="student_name" id="student_name" class="form-control" />
        <input type="hidden" name="student_course_id_update" id="student_course_id_update" value="">
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-3"></div>
       <div class="col-sm-2"></div>
       <div class="col-sm-4">
         <button type="submit" class="btn btn-primary all-btn" name="add_student" id="add_student" value="Add Student">Add Student</button>
       </div>
       <div class="col-sm-3"></div>
    </div>
          
  </form>
</div> 

<table class="table table-bordered" id="student_course_table">
  <thead>
    <tr>
      <th>Roll No</th>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each_with_index do |student, index| %>
      <tr>
        <td><%= student.roll_no %></td>
        <td><%= student.first_name+" "+student.last_name %></td>
        <td id="<% student.roll_no %>">
          <input type="hidden" id="student_course_id<%= index+1 %>" name="student_course_id" value="<%= student.id %>">
          <input type="button" id="student_course_edit<%= index+1 %>" value="Edit"
          class="btn btn-primary">
        </td>
        <td>
          <%= link_to 'Delete', student_destroy_course_path(student.id), method: :delete, data: { confirm: 'Do you want to delete?' }, :class => "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>

  $(document).ready(function(){ 

    $("#student_roll_no").blur(function(){ 
      var rollNo = $("#student_roll_no").val();

      if (rollNo != null && rollNo) {
        $.ajax({
          type: "POST",
          url: "/studentname",
          data: {roll_no: rollNo},
          success: function(data){
            console.log(data);
            $("#student_name").val(data.first_name+" "+data.last_name);
          },
          error: function (error) {
            console.log(eval(error));
          }
        });
      } else {
        $("#student_name").val(" ");
      }
      
    });

    var rowCount = $('#student_course_table tr').length;

     $('#student_course_table tr').each(function (i, row) {
       $("#student_course_edit"+i).trigger('submit.rails');
        $("#student_course_edit"+i).click(function(){
          var rollNo = $(this).closest('tr').children('td').eq('0').text();
          var name = $(this).closest('tr').children('td').eq('1').text();
          var student_course_id = $('#student_course_id'+i).val();
          $("#student_roll_no").val(rollNo);
          $("#student_name").val(name);
          $("#add_student").val('Update Student');
          $("#add_student").text('Update Student');
          $("#student_course_id_update").val(student_course_id);
        });
    });

  });

</script>