<div class="container">
  <%= form_with(model: attendance, local: true) do |form| %>

    <% if attendance.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>
        <ul>
        <% attendance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :first_name, :class => "control-label col-sm-2" %>
       <div class="col-sm-10">
        <%= form.text_field :first_name, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :last_name, :class => "control-label col-sm-2" %>
       <div class="col-sm-10">
        <%= form.text_field :last_name, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :roll_no, :class => "control-label col-sm-2" %>
       <div class="col-sm-10">
        <%= form.text_field :roll_no, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :start_time, :class => "control-label col-sm-2" %>
      <div class="input-group bootstrap-timepicker timepicker col-sm-9">
        <%= form.text_field :start_time, :class => "form-control input-small", :id => "timepicker1", :value => time_format(@attendance.start_time) %>
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :end_time, :class => "control-label col-sm-2" %>
      <div class="input-group bootstrap-timepicker timepicker col-sm-9">
        <%= form.text_field :end_time, :class => "form-control input-small", :id => "timepicker2", :value => time_format(@attendance.end_time) %>
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :date, :class => "control-label col-sm-2" %>
       <div class="col-sm-10">
         <%= form.text_field :date, :class => "form-control datepicker", :value => date_dbY(@attendance.date) %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :remark, :class => "control-label col-sm-2" %>
       <div class="col-sm-10">
        <%= form.text_area :remark, :class => "form-control" %>
      </div>
    </div>

     <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-2">
        <%= form.submit :class => 'btn btn-primary'%>
      </div>
    </div>

  <% end %>
</div>

<script>

  $('.datepicker').datepicker({format: 'dd-M-yyyy'});
  $('#timepicker1').timepicker();
  $('#timepicker2').timepicker();

</script>

