<p id="notice"><%= notice %></p>

<h1>Attendances</h1>

<% if can? :create, Attendance %>
  <%= link_to 'New Attendance', new_attendance_path, :class => 'btn btn-primary float-right all-btn' %>
<% end %> 

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Roll No</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Date</th>
      <th>Remark</th>
      <% if can? :create, Attendance %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
    <% puts attendance.id %>
      <tr>
        <td><%= attendance.first_name+" "+attendance.last_name %></td>
        <td><%= attendance.roll_no %></td>
        <td><%= time_format(attendance.start_time) %></td>
        <td><%= time_format(attendance.end_time) %></td>
        <td><%= date_dbY(attendance.date) %></td>
        <td><%= attendance.remark %></td>
        <% if can? :create, Attendance %>
          <td><%= link_to 'Show', attendance, :class => 'btn 
          btn-primary all-btn' %></td>
          <td><%= link_to 'Edit', edit_attendance_path(attendance), :class =>
           'btn btn-primary all-btn' %></td>
          <td><%= link_to 'Destroy', attendance, method: :delete, data: 
          { confirm: 'Are you sure?' }, :class => 'btn btn-primary all-btn' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>