<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="row">
    <div  class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Name:</strong>
    </div>
    <div class="col-sm-3">
      <%= @attendance.first_name+' '+@attendance.last_name %>
    </div>
    <div  class="col-sm-3"></div>
  </div>

  <div class="row">
    <div  class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Roll No:</strong>
    </div>
    <div class="col-sm-3">
      <%= @attendance.roll_no %>
    </div>
    <div  class="col-sm-3"></div>
  </div>

  <div class="row">
    <div  class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Start Time:</strong>
    </div>
    <div class="col-sm-3">
      <%= time_format(@attendance.start_time) %>
    </div>
    <div  class="col-sm-3"></div>
  </div>

  <div class="row">
    <div  class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>End time:</strong>
    </div>
    <div class="col-sm-3">
      <%= time_format(@attendance.end_time) %>
    </div>
    <div  class="col-sm-3"></div>
  </div>

  <div class="row">
    <div  class="col-sm-3"></div>
    <div class="col-sm-3">
      <strong>Date:</strong>
    </div>
    <div class="col-sm-3">
      <%= date_dbY(@attendance.date) %>
    </div>
    <div  class="col-sm-3"></div>
  </div>

  <div class="row">
    <div  class="col-sm-3 col-xs-0"></div>
    <div class="col-sm-3 col-xs-12">
      <strong>Remark:</strong>
    </div>
    <div class="col-sm-3">
      <%= @attendance.remark %>
    </div>
    <div  class="col-sm-3 col-xs-0"></div>
  </div>

  <div class="row"></div>

  <div class="row" >
    <div  class="col-md-4 col-xs-0"></div>
    <div  class="col-md-3 col-xs-12">
      <%= link_to 'Edit', edit_attendance_path(@attendance), :class => "btn btn-primary all-btn" %>
      <%= link_to 'Back', attendances_path, :class => "btn btn-primary all-btn" %>
    </div>
  </div> 

</div>
