<header class="navbar navbar-fixed-top bg-primary">
  <div class="container">
    <%= link_to "School Management System", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li><%= link_to "Home", root_path %></li>
          <% if can? :create, User %>
            <li><%= link_to "Student" , students_path %></li>
          <% end %>
          <li><%= link_to "Course" , courses_path %></li>
          <li><%= link_to "Attendance", attendances_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Forget Password", new_password_reset_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

